{% extends "template/transfer-a.html" %}

{% block file_upload %}
    <hr class="mb-0">
    <div class="col-12 fs-3">
        <span>歷年成績單 :</span>
        {% if db_info['file_name'] is not none %}
            <a href="{{ url_for('transcript', file_name=db_info['file_name'] ) }}"
               target="_blank">{{ db_info['file_name'] }}</a>
        {% else %}
            <span>沒有上傳成績單</span>
        {% endif %}
    </div>

{% endblock %}

{% block btn_send %}
    <hr class="mb-0">
    <div class="col-12">
        <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg w-100"><i class="fas fa-home me-2"></i>回首頁</a>
    </div>
{% endblock %}

{% block top_button %}
    <div class="row mb-3">
        <div class="col-12">
            <a href="{{ url_for('stu_form_download', form_id=db_info['id']) }}" class="btn btn-danger btn-lg w-100"><i class="fas fa-file-download me-2"></i>下載表單</a>
        </div>
    </div>
{% endblock %}